
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
body{background-image: url(..//marcelinho-master/imagem.jpg)}
.format{
    display: flex;
    width: 100vw;
    min-height: 75px;
    justify-content: center;
    align-items: center;
}

header{
    background-color: rgb(0, 116, 116);
    top: 0;
    
}
header{
    display: flex;
    margin: 0 auto;
}
header #menu{
    display: flex;
}
header #menu ul{
    display: flex;
}
header #menu ul li{
    margin-left: 20px;
}
header #menu ul li a{
    font-size: 10pt;
}
header #menu ul li a:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.427);
}


main{
    display: flex;
    flex-direction: column;
    
}
main section{
    justify-content: center;
    align-items: center;
    background-color: rgba(232, 232, 235, 0);
    width: 100vw;
    height: auto;
    min-height: 200px;
    text-align: center;
    padding: 20px;
}

aside{
    width: 100vw;
    height: auto;
    min-height: 200px;
}

footer{
    background-color: rgb(0, 116, 116);;
    position: static;
    bottom: 0;
}

@media screen and (max-width:600px){
   
    header{
        width: 100vw;
        justify-content: space-evenly;
    }
     p{
        align-self: right;
    }
    header #menu{
        display: none;
    }

    header #menu_mob{
        display:block;
        margin-left: 100px;
        
    }

    main section{
        width: 100vw;
        min-height: 20vh;
    }
    footer{
        padding:15px ;
        position: static;
        bottom:0;
        justify-content: space-evenly;
    }

}

@media only screen and (min-width:600px){
    header #menu_mob{
        display: none;
    }
    main section{
        width: 70vw;
        margin: 5px;
    }
}